---
const today = new Date();
---

<script>
  const ScrollUpButton = document.getElementById("scroll-up-button");
  ScrollUpButton.addEventListener("click", () => {
    window.scrollTo({
      top: 0,
      left: 0,
      behavior: "smooth",
    });
  });
</script>
<footer>
  &copy; {today.getFullYear()}
  <a href="https://github.com/DreamLineLove" target="_blank">
    <span>Zwe Nyan Zaw</span>. Developer, Student, Introvert :)</a
  >
</footer>
<button id="scroll-up-button"><img src="/arrow-up-solid.svg" /></button>

<style>
  #scroll-up-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;
    background: cyan;
  }
  #scroll-up-button:focus {
    background: pink;
  }
  @media (min-width: 500px) {
    #scroll-up-button {
      display: none;
    }
  }
  footer {
    margin-top: 40px;
    text-align: center;
    font-family: monospace;
    transition: 0.35s ease all;
    width: fit-content;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.1rem;
  }
  a {
    all: unset;
  }
  footer:hover {
    cursor: pointer;
    color: rgb(0, 0, 255);
    font-size: 1.15rem;
  }
  @media (min-width: 668px) {
    footer:hover {
      cursor: pointer;
      color: rgb(0, 0, 255);
      /* background-color: black; */
      /* transform: scale(1.5); */
      font-size: 1.35rem;
      transition: 0.35s ease all;
      /* word-spacing: -0.15rem; */
    }
  }
</style>
